<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messenger</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="icon" href="/static/logo.png" type="image/png">
  <link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#0084ff">
</head>
<body class="chat-page">
    <div class="container">
  <div class="chat-container">
    <header class="chat-header">
      
      <h2 class="welcome-text"><div> <img src="static/logo.png"></div>
      Welcome, {{ username }} to B-book</h2>
      <nav class="chat-nav">
        <a href="/search" class="nav-link" ><button class="search-btn">search...<i class="fas fa-search"></i></button></a>
      </nav>
    </header>

    <section class="chat-list-section">
      <h3 class="chat-list-title">Your Conversations</h3>
      {% if interacted_users %}
        <ul class="chat-user-list">
          {% for u in interacted_users %}
            <li><a href="/chat/{{ u['user'] }}" class="chat-user">{{ u['user'] }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="no-chats">You haven’t interacted with anyone yet.</p>
      {% endif %}
    </section>
    <a href="https://www.facebook.com/kim.baricog.2025/" class="contact"><h3>contact the developer.<div class="contact2">@Kim Baricog</div></h3></a>
     <a href="/logout"><b class="contact1">Logout</b></a>
  </div>
  </div>

<script>
  const toggleBtn = document.getElementById('theme-toggle');

  toggleBtn.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode');

    // Change button text/icon based on current mode
    if (document.body.classList.contains('dark-mode')) {
      toggleBtn.textContent = '☀️ Light Mode';
    } else {
      toggleBtn.textContent = '🌙 Dark Mode';
    }
  });
</script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/sw.js');
  }
</script>

</body>
</html>
